---
import Footer from '../components/Footer.astro';
import SectionBeneficios from '../components/SectionBeneficios.astro';
import SectionBg from '../components/SectionBg.astro';
import SectionMarcas from '../components/SectionMarcas.astro';
import SectionRevendedor from '../components/SectionRevendedor.astro';
import SectionServicios from '../components/SectionServicios.astro';
import SectionTestimonios from '../components/SectionTestimonios.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Baterías Giagnoni" description="Distribuidora Nacional de Baterías. Estés donde estés y en cualquier momento.">
	<main>
		<SectionBg />
		<SectionMarcas />
		<SectionBeneficios />
		<SectionRevendedor />
		<SectionTestimonios />
		<SectionServicios />
	</main>
	<Footer />
</Layout>