---
import FormFooter from "./FormFooter.astro";
import SectionContainer from "./SectionContainer.astro";
---

<div class="bg-azul-dg min-h-screen w-full flex scroll-mt-[64px]" id="contacto">
  <SectionContainer class="flex flex-col xl:flex-row py-10 xl:py-0">
    <section class="text-white flex flex-col justify-evenly gap-y-5 xl:gap-y-0 h-full w-full">
      <div class="w-full text-center xl:text-start flex flex-col gap-y-1 sm:gap-y-2">
        <h3 class="text-3xl sm:text-5xl md:text-6xl">
          SOPORTE Y ATENCIÓN
        </h3>
        <h4 class="text-3xl sm:text-5xl md:text-6xl">AL CLIENTE</h4>
      </div>
      <div><p class="text-base xl:text-xl text-center xl:text-start text-pretty">COMPROMISO CON LA <strong>SATISFACCIÓN DEL CLIENTE</strong></p></div>
      <div class="flex flex-col gap-y-5 items-start md:items-center xl:items-start">
        {/*iconos container */}
        <a title="Whatsapp Baterías Giagnoni" href="https://api.whatsapp.com/send?phone=543424670267" target="_blank" rel="noreferrer" class="flex items-center gap-x-2 text-sm md:text-base">
          <div>
            <svg
              width="40"
              height="40"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
              ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                d="M3 21l1.65 -3.8a9 9 0 1 1 3.4 2.9l-5.05 .9"></path><path
                d="M9 10a.5 .5 0 0 0 1 0v-1a.5 .5 0 0 0 -1 0v1a5 5 0 0 0 5 5h1a.5 .5 0 0 0 0 -1h-1a.5 .5 0 0 0 0 1"
              ></path></svg
            >
          </div>
          +543424670267 ( Santa Fe )
        </a>
        <a title="Whatsapp Baterías Giagnoni" href="https://api.whatsapp.com/send?phone=543624694977" class="flex items-center gap-x-2 text-sm md:text-base" target="_blank" rel="noreferrer">
          <div>
            <svg
              width="40"
              height="40"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
              ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                d="M3 21l1.65 -3.8a9 9 0 1 1 3.4 2.9l-5.05 .9"></path><path
                d="M9 10a.5 .5 0 0 0 1 0v-1a.5 .5 0 0 0 -1 0v1a5 5 0 0 0 5 5h1a.5 .5 0 0 0 0 -1h-1a.5 .5 0 0 0 0 1"
              ></path></svg
            >
          </div>
          +543624694977 ( Resistencia )
        </a>
        <a href="mailto:dariogiagnoni@hotmail.com" title="dariogiagnoni@hotmail.com" class="flex items-center gap-x-2 text-sm md:text-base" target="_blank">
          <div>
            <svg
              width="40"
              height="40"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
              ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                d="M3 7a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-10z"
              ></path><path d="M3 7l9 6l9 -6"></path></svg
            >
          </div>
          dariogiagnoni@hotmail.com
        </a>
        <a title="Teléfono Baterías Giagnoni" href="tel:+3624463647" class="flex items-center gap-x-2 text-sm md:text-base" target="_blank">
          <div>
            <svg
              width="40"
              height="40"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
              ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                d="M5 4h4l2 5l-2.5 1.5a11 11 0 0 0 5 5l1.5 -2.5l5 2v4a2 2 0 0 1 -2 2a16 16 0 0 1 -15 -15a2 2 0 0 1 2 -2"
              ></path></svg
            >
          </div>
          03624463647 ( Resistencia, Chaco )
        </a>
        <a title="Teléfono Baterías Giagnoni"  href="tel:+3424670267" class="flex items-center gap-x-2 text-sm md:text-base" target="_blank">
          <div>
            <svg
              width="40"
              height="40"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
              ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                d="M5 4h4l2 5l-2.5 1.5a11 11 0 0 0 5 5l1.5 -2.5l5 2v4a2 2 0 0 1 -2 2a16 16 0 0 1 -15 -15a2 2 0 0 1 2 -2"
              ></path></svg
            >
          </div>
          +543424670267 ( Santa Fe )
        </a>
        <a
          href="https://www.google.com/maps/place/Bater%C3%ADas+Dario+Giagnoni+%7C+Distribuidora+Nacional+de+baterias+%7C+Chaco+%7C+Ex+Baterias+Morbi/@-27.4391448,-59.0002489,17z/data=!3m1!4b1!4m6!3m5!1s0x94450c6ff03ce109:0x798f5ec251be887d!8m2!3d-27.4391448!4d-59.0002489!16s%2Fg%2F1tdv_zqg?entry=ttu"
          class="flex items-center gap-x-2 text-sm md:text-base" target="_blank" rel="noreferrer"
        >
          <div>
            <svg
              width="40"
              height="40"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
              ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                d="M9 11a3 3 0 1 0 6 0a3 3 0 0 0 -6 0"></path><path
                d="M17.657 16.657l-4.243 4.243a2 2 0 0 1 -2.827 0l-4.244 -4.243a8 8 0 1 1 11.314 0z"
              ></path></svg
            >
          </div>
          Av. 25 de Mayo 1515, H3500 Resistencia, Chaco
        </a>
        <a
          href="https://www.google.com/maps/place/Baterias+Dario+Giagnoni+%7C+Distribuidora+Nacional+de+Bater%C3%ADas+%7C+Santa+Fe/@-31.6413179,-60.7269685,17z/data=!3m1!4b1!4m6!3m5!1s0x95b5a849f83b8b07:0xbaf1ffff70065e5a!8m2!3d-31.6413179!4d-60.7269685!16s%2Fg%2F1v2f1pwc?entry=ttu"
          class="flex items-center gap-x-2 text-sm md:text-base" target="_blank" rel="noreferrer"
        >
          <div>
            <svg
              width="40"
              height="40"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
              ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                d="M9 11a3 3 0 1 0 6 0a3 3 0 0 0 -6 0"></path><path
                d="M17.657 16.657l-4.243 4.243a2 2 0 0 1 -2.827 0l-4.244 -4.243a8 8 0 1 1 11.314 0z"
              ></path></svg
            >
          </div>
          G. de Lamadrid 2544, S3000 Santa Fe de la Vera Cruz, Santa Fe
        </a>
      </div>
    </section>
    
    <section class="w-full flex flex-col text-center justify-center xl:justify-end xl:pb-24 items-center mt-10">
        <h5 class="text-3xl sm:text-5xl md:text-6xl">CONTACTANOS</h5>
        <FormFooter />
      </section>
  </SectionContainer>
</div>
<style>
  h3{
    font-family: 'Gobold-relleno';
  }
  h4{
    font-family: 'Gobold-noRelleno';
  }
  h5{
    font-family: 'Gobold-noRelleno';
  }
</style>