---
const { class: className } = Astro.props; //Para tomar las clases que le ponga adicionales a cada seccion
---
<section class={`container w-full min-[576px]:max-w-[540px]: mx-auto min-[768px]:max-w-[720px] min-[992px]:max-w-[960px] min-[1200px]:max-w-[1140px] min-[1400px]:max-w-[1320px] px-5 xl:px-0 ${className}`}>
  {/*Seccion para no repetir la misma clase en todas */}
  <slot />
  {/*Aca ira lo que cambia dentro del <SectionContainer></SectionContainer> */}
</section>
