---
import SectionContainer from "./SectionContainer.astro";
---

<div
  class="bg-[url('/images/bgimage.webp')] min-h-[calc(100vh-64px)] w-full bg-cover bg-no-repeat bg-center flex items-center"
>
  <SectionContainer>
    <div class="flex flex-col gap-8 items-start text-white animate-fade-up">
      <div
        class="border-l-4 border-l-rojo-dg pl-2 flex flex-col gap-2 lg:gap-6"
      >
        <h1 class="text-3xl sm:text-5xl md:text-6xl leading-8 xl:text-8xl">BATERÍAS DE CALIDAD</h1>
        <h2 class="text-3xl sm:text-5xl md:text-6xl leading-8 xl:text-8xl">AL ALCANCE DE TU MANO</h2>
      </div>
      <p class="text-xs md:text-base lg:text-lg font-medium">ENCONTRÁ LA <strong>BATERÍA ADECUADA</strong> PARA TU VEHÍCULO</p>
      <div class="flex flex-col lg:flex-row justify-start lg:justify-normal w-full gap-x-8 gap-y-5">
        <a class="bg-azul-dg text-center px-5 py-2 rounded-md animate-pulse animate-infinite animate-duration-[2000ms] hover:bg-rojo-dg" href="https://api.whatsapp.com/send?phone=543424670267" rel="noreferrer" target="_blank">Comprar Ahora</a>
        <a class="bg-azul-dg text-center px-5 py-2 rounded-md animate-pulse animate-infinite animate-duration-[2000ms] hover:bg-rojo-dg" href="#revendedores">Sumarme como revendedor</a>
      </div>
    </div>
  </SectionContainer>
</div>
<style>
  /**Estos estilos son solo para este componente, no a todos */
  h1{
    font-family: 'Gobold-relleno';
  }
  h2{
    font-family: 'Gobold-noRelleno';
  }
</style>
